@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: #f00 solid 1px;
  color: #0f0;
  background: #000;
} */

body {
  background-color: rgb(28 25 23)
}

body {
  background-color: white
}

.input-date::-webkit-calendar-picker-indicator{
    margin-left: -20px;
}